<app-navbar></app-navbar>

<app-sidebar (selectTable)="tableSelect($event)" (selectItem)="itemSelect($event)"></app-sidebar>



<app-tableview [hidden]="!tableH" [tableData]="tableH">

</app-tableview>

<app-edit *ngIf="editStatus">

</app-edit>
<app-profilecard [hidden]="!profileCard " [profileData]="profileDataH">


</app-profilecard>


<app-add *ngIf="addStatus"></app-add>


<app-studentside *ngIf="studentSideView &&  addState === 'student'">

</app-studentside>


<app-productside *ngIf="productSideView &&  addState === 'products'">

</app-productside>