<mat-toolbar class="navbar" *ngIf="router.url === '/'">

    <div class="nav-left">
        <i class="fa-solid fa-bars menu-icon" (click)="sidebarAction()"></i>
        <span class="app-title">Dashboard</span>
    </div>

    <div class="nav-right">
        <div class="usernamediv">
            <i class="fa fa-user nav-icon"></i>

            <span class="username" *ngIf="currentUser">
                {{ currentUser.firstname }}
            </span>
                    <i  class="fa fa-sign-out logout-icon" (click)="logoutAction()"></i>

        </div>


    </div>

</mat-toolbar>