<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="explain-box">

        <div class="explain-group">
            <div class="explain-section">Data</div>
            <div class="explain-grid">
                <div class="explain-item">
                    <i class="fa-solid fa-user"></i>
                    <span>Students</span>
                </div>

                <div class="explain-item">
                    <i class="fa-solid fa-globe"></i>
                    <span>External Products</span>
                </div>

                <div class="explain-item">
                    <i class="fa-solid fa-store"></i>
                    <span>Internal Products</span>
                </div>
            </div>
        </div>

        <div class="explain-group">
            <div class="explain-section">Product Types</div>
            <div class="explain-grid">
                <div class="explain-item">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Single Product</span>
                </div>

                <div class="explain-item">
                    <i class="fa-solid fa-box"></i>
                    <span>Bulk Product</span>
                </div>
            </div>
        </div>

        <div class="explain-group">
            <div class="explain-section">Actions</div>
            <div class="explain-grid">
                <div class="explain-item">
                    <i class="fa-solid fa-file-import"></i>
                    <span>Import</span>
                </div>

                <div class="explain-item">
                    <i class="fa-solid fa-file-export"></i>
                    <span>Export</span>
                </div>
            </div>
        </div>

    </div>
    <div class="controls">
        <button *ngIf="!expandState" (click)="expandAll()">
            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
        </button>

        <button *ngIf="expandState" (click)="collapseAll()">
            <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
        </button>
    </div>

    <div class="tree-wrapper">
        <div #treeElem id="treeElem"></div>
    </div>
    @if (finalTakenValues?.studentname) {
    <p> {{finalTakenValues?.studentname}} confirmed </p>

    }
    @else if(finalTakenValues?.rating){
    <p> {{finalTakenValues?.title }} confirmed </p>
    }
    @else if(finalTakenValues?.overAllRating){
    <p> {{finalTakenValues?.title}} confirmed </p>
    }

    <app-sidebarchild [selectedInput]='selectedSharedItem' (selectedConfirmation)="finalTaken($event)">


    </app-sidebarchild>


</div>