<form *ngIf="!product.delete" #productForm="ngForm"
  (ngSubmit)="product?._id ? onUpdate(product._id, productForm) : onSubmit(productForm)" class="productform">

  <mat-card-header>
    @if (product._id) { <p>Edit Product</p> } @else { <p>Add Product</p> }
  </mat-card-header>

  <div class="profile-upload-container">
    <div class="image-preview">
      <img *ngIf="product.profilePhoto; else noImage" [src]="product.profilePhoto" />
      <ng-template #noImage>
        <div class="placeholder">
          <span>Product Image</span>
        </div>
      </ng-template>
    </div>

    <input type="file" accept="image/*" (change)="onFileSelect($event)" hidden #fileInput />

    <button mat-stroked-button color="primary" type="button" (click)="fileInput.click()">
      Upload Image
    </button>

  </div>

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput name="title" [(ngModel)]="product.title" #title="ngModel" required />
  </mat-form-field>

  <div *ngIf="title.invalid && title.touched">
    <span class="errorss">Title is required</span>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput type="number" name="price" [(ngModel)]="product.price" #price="ngModel" required min="1" />
  </mat-form-field>

  <div *ngIf="price.invalid && price.touched">
    <span class="errorss">Price is required</span>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select name="category" [(ngModel)]="product.category" #category="ngModel" required>
      <mat-option *ngFor="let categ of categories" [value]="categ">{{ categ }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="category.invalid && category.touched">
    <span class="errorss">Category is required</span>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Stock</mat-label>
    <input matInput type="number" name="stock" [(ngModel)]="product.stock" #stock="ngModel" required />
  </mat-form-field>

  <div *ngIf="stock.invalid && stock.touched">
    <span class="errorss">Stock is required</span>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Overall Rating</mat-label>
    <input matInput type="number" name="overAllRating" [(ngModel)]="product.overAllRating" #rating="ngModel" required />
  </mat-form-field>

  <div *ngIf="rating.invalid && rating.touched">
    <span class="errorss">Rating is required</span>
  </div>

  <div class="buttons-container">
    <button mat-raised-button color="primary" type="submit">
      {{ product?._id ? 'Update Product' : 'Add Product' }}
    </button>
    <button mat-raised-button type="button" (click)="cancelForm()">
      Cancel
    </button>
  </div>

</form>

<div *ngIf="product.delete" class="product-delete-container">
  <p>Are you sure you want to delete this product?</p>
  <div class="buttons-container">
    <button mat-raised-button color="warn" (click)="confirmDelete(product._id)">
      Confirm Delete {{ product.title }}
    </button>
    <button mat-raised-button color="primary" (click)="cancelForm()">
      Cancel
    </button>
  </div>
</div>