<form *ngIf="!student.delete" #studentForm="ngForm"
    (ngSubmit)="student?._id ? onUpdate(student._id,studentForm) : onSubmit(studentForm)" class="studentform">

    <mat-card-header>

        @if (student._id) { <p>Edit Student</p>} @else { <p>Add Student</p> }

    </mat-card-header>
    <div class="profile-upload-container">

        <div class="image-preview">
            <img *ngIf="student.photo; else noImage" [src]="student.photo" alt="Profile" />

            <ng-template #noImage>
                <div class="placeholder">
                    <span>Profile Photo</span>
                </div>
            </ng-template>
        </div>

        <input type="file" accept="image/*" (change)="onFileSelect($event)" hidden #fileInput />

        <button mat-stroked-button color="primary" (click)="fileInput.click()">
            Upload Photo
        </button>

    </div>

    <mat-form-field appearance="outline">
        <mat-label>Student Name</mat-label>
        <input matInput name="studentname" [(ngModel)]="student.studentname" #studentname="ngModel" required />
    </mat-form-field>

    <div *ngIf="studentname.invalid && studentname.touched">
        <span class="errorss">Student name is required</span>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" name="dob" [(ngModel)]="student.dob" (ngModelChange)="dobChange()" #dob="ngModel"
            required />
    </mat-form-field>

    <div *ngIf="dob.invalid && dob.touched">
        <span class="errorss">Date of Birth is required</span>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Class</mat-label>
        <mat-select name="class" [(ngModel)]="student.class" #classField="ngModel" [disabled]="!student.dob" required>

            <mat-option *ngFor="let cls of filteredClasses" [value]="cls">
                {{ cls }}
            </mat-option>

        </mat-select>
    </mat-form-field>

    <div *ngIf="classField.invalid && classField.touched">
        <span class="errorss">Class is required</span>
    </div>



    <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput [value]="calculateAge(student.dob)" disabled />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select name="gender" [(ngModel)]="student.gender" #gender="ngModel" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="others">Others</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="gender.invalid && gender.touched">
        <span class="errorss">Gender is required</span>
    </div>

    <div class="buttons-container">

        <button mat-raised-button color="primary" type="submit">
            {{ student?._id ? 'Update Student' : 'Add Student' }}
        </button>

        <button mat-raised-button (click)="cancelForm()" type="button">
            Cancel
        </button>

    </div>


</form>

<div *ngIf="student.delete" class="additional-container-delete">
    <p>Are you sure you want to delete this student?</p>

    <div class="buttons-container">
        <button mat-raised-button color="warn" (click)="confirmDelete(student._id)">
            Confirm Delete {{student.studentname}}
        </button>

        <button mat-raised-button color="primary" (click)="cancelForm()">
            Cancel
        </button>
    </div>
</div>