<mat-card class="student-card" appearance="outlined">

    <ng-container *ngIf="profileData.studentname">
        <div class="leftcard">
            <mat-card-header>

                <mat-card-title> {{ profileData.studentname }}</mat-card-title>
                <mat-card-subtitle>{{ profileData.class }} | {{ profileData.gender }}</mat-card-subtitle>
            </mat-card-header>

            <div class="photo-wrapper" (click)="fileInput.click()">

                <ng-container *ngIf="profilePhotoSafe && profileData.profilePhoto; else largInitials"> <img
                        class="profile-img" [src]="profilePhotoSafe" alt="Profile Photo" />
                    <div class="photodeldownload">
                        <i class="fa fa-trash delete" (click)="delPhoto($event,profileData._id,'students')"></i>
                        <i class="fa fa-download download" (click)="downloadPhoto($event,profilePhotoSafe)"></i>

                    </div>

                </ng-container>

                <ng-template #largInitials>
                    <div class="large-initials-block">
                        {{ profileData.studentname?.slice(0, 2)?.toUpperCase() }}
                    </div>
                </ng-template>

                <div class="photo-overlay">
                    <i class="fa-solid fa-upload"></i>
                    <span>Change Photo</span>
                </div>

            </div>

            <input #fileInput type="file" accept="image/*" style="display:none"
                (change)="onPhotoSelected($event,profileData._id,'students')" />

        </div>
        <div class="rightcard">
            <mat-card-content>
                <div class="list">
                    <div class = "detail-list">
                        <span >Date of Birth :</span>
                        <span >{{ profileData.dob }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class = "detail-list">
                        <span >Age :</span>
                        <span >{{ profileData.age }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class = "detail-list">
                        <span >Class :</span>
                        <span >{{ profileData.class }}</span>
                    </div> 
                    <mat-divider></mat-divider>
                    <div class = "detail-list">
                        <span >Gender :</span>
                        <span >{{ profileData.gender }}</span>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </ng-container>
    <ng-container *ngIf="profileData.title">
        <div class="leftcard">
            <mat-card-header>

                <mat-card-title> {{ profileData.title }}</mat-card-title>
            </mat-card-header>

            <div class="photo-wrapper" (click)="profileData.overAllRating && fileInput.click()">

                <ng-container *ngIf="profilePhotoSafe && profileData.profilePhoto  else largInitials">
                    <img class="profile-img" [src]="profilePhotoSafe" alt="Profile Photo" />
                    <div class="photodeldownload">
                        <i class="fa fa-trash delete" (click)="delPhoto($event,profileData._id,'products')"></i>
                        <i class="fa fa-download download" (click)="downloadPhoto($event,profilePhotoSafe)"></i>

                    </div>

                </ng-container>

                <ng-template #largInitials>
                    <div class="large-initials-block">
                        {{ profileData.title?.slice(0, 2)?.toUpperCase() }}
                    </div>
                </ng-template>

                <div *ngIf="profileData.overAllRating" class="photo-overlay">
                    <i class="fa-solid fa-upload"></i>
                    <span>Change Photo</span>
                </div>

            </div>

            <input #fileInput type="file" accept="image/*" style="display:none"
                (change)="onPhotoSelected($event,profileData._id,'products')" />

        </div>
        <div class="rightcard">
            <mat-card-content>
                <div class="list">
                    <div class = "detail-list">
                        <span >Category :</span>
                        <span >{{ profileData.category }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class = "detail-list">
                        <span >Stock :</span>
                        <span >{{ profileData.stock }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class = "detail-list">
                        <span >Over All Rating :</span>
                        <ng-container *ngIf="profileData.overAllRating">
                            <span >{{ profileData.overAllRating }}</span>

                        </ng-container>
                        <ng-container *ngIf="profileData.rating">
                            <span >{{ profileData.rating }}</span>

                        </ng-container>

                    </div>
                    <mat-divider></mat-divider>
                    <div class = "detail-list">
                        <span >Price :</span>
                        <span >{{ profileData.price }}</span>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </ng-container>




</mat-card>