.dashboard-container,
mat-toolbar {
   margin-left: 310px;
   position: fixed;
   top: 20%;
   width: 80%;
}

.editBut,
.deleteBut {
   background-color: #fff;
   border: none;
   padding: 0.3rem;
   box-shadow: 1px 1px 2px rgb(198, 198, 199);
}

table {}

.buttoncontainer {
   display: flex;
   margin-top: 28px;
   gap: 0.5rem;
   padding-bottom: 1.5rem;


}

.buttoncontainer button {
   border-radius: 4px;
   cursor: pointer;
}

.student-initials,
.student-avatar {
   background-color: #e3f2fd;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #1565c0;


}

.mat-table-container {
   max-height: 500px;
   max-width: 100%;
   overflow-y: auto;
   overflow-x: auto;
   display: block;
   position:relative;
 }
.mat-table-container .addbutton{
   position:fixed;
   top:100px
   
}
.full-width-table{
   margin-top: 5rem;
}
.addbutton {
   /* margin: 3rem 0; */
   justify-self: right;
   display: flex;
   align-items: center;

}
 
#uploadicon{
   margin: 0.4rem 5rem;
   color:#1565c0;
   border:0.3px solid #fcfafa;
   padding: 0.4rem;
   border-radius: 4px;
   box-shadow: 0px 0px 1px #c2bfbf;
   cursor:pointer;
   background-color: #fff;
 
}
.upload-actions{
   margin-top: 5.2rem;
   margin-bottom: -2rem;
}
.tab-content,
.mat-table-container {}

.table-toolbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   /* gap: 30%; */
   max-width: 100%;
   width: 100%;

}

.table-toolbar button {
   margin-right: 3rem;
}
.insidetool{
   display: flex;
   flex-direction: row;
   margin-right: 2rem;
   background-color: red;

}